doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Partner inquiry for easiway
  body
    p 이 이메일은 easiway 홈페이지에 접수된 파트너 문의 메일입니다.
    p 입력한 내용:
    ul
      li email: #{email}
      li name: #{name}
      li mobile: #{mobile}
      li company_name: #{company_name}
      li company_addr: #{company_addr}
