doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Private driver inquiry for easiway
  body
    p 이 이메일은 easiway 홈페이지에 접수된 개인 드라이버 문의 메일입니다.
    p 입력한 내용:
    ul
      li email: #{email}
      li name: #{name}
      li mobile: #{phone}
      li driver license image: #{license_copy}
      li car model: #{car_model}
      li locale: #{locale}
